*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
header{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
    .column-left{
    }
    .column-right{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        .btn-login{
            background-color: black;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 25px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            &:hover{
                background: linear-gradient(180deg, #FF64AE 0%, #CA2373 100%);
                border: 2px solid #FFFFFF;
                box-shadow: inset 4px 4px 4px rgba(166, 26, 102, 0.74);
                color: white;   
            }
        }
        .btn-apply{
            background-color: white;
            width: 120px;
            height: 30px;
            border-radius: 25px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            &:hover{
                background: linear-gradient(180deg, #FF64AE 0%, #CA2373 100%);
                border: 2px solid #FFFFFF;
                box-shadow: inset 4px 4px 4px rgba(166, 26, 102, 0.74);
                color: white;   
            }
        }
        .btn{
            background: none;
            border: none;
            cursor: pointer;
        }
        i{
            color: white;
            font-size: 20px;
        }
    }
}
footer{
    .footer-column-top{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        background: #FFFFFF;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);
        padding: 2rem 0;
        button{
            background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
            border-radius: 10px;
            height: 70px;
            width: 300px;
            font-size: 40px;
            color: white;
            border: none;
            cursor: pointer;
        }
        .btn-admin{
            
        }
        .btn-line{
            // border-left: 5px solid black;
        }
        .column-center{
            border-left: 4px solid black;
            border-right: 4px solid black;
            padding: 0 2rem;
        }
    }
    .footer-column{
        width: 100%;
        height: 30px;
        background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 2rem;
        font-size: 12px;
        .column-left{}
        .column-right{
            display: flex;
            column-gap: 2rem;
        }
    }
}
.column-shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .shadow-left{
        width: 518px;
        height: 490px;
        background: linear-gradient(134.65deg, rgba(0, 0, 0, 0) 47.41%, rgba(0, 0, 0, 0.73) 100%);
        opacity: 0.5;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .shadow-right{
        width: 518px;
        height: 490px;
        background: linear-gradient(134.65deg, rgba(0, 0, 0, 0) 47.41%, rgba(0, 0, 0, 0.73) 100%);
        opacity: 0.5;
    }
}
.contact-us{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    z-index: 10;
    .column-contact-us{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        .text-contact-us{
            background-color: white;
            // box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            filter: drop-shadow(4px 4px 4px rgba(0,0,0,.25));
            padding:3px 10px;
            border-radius: 5px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                right: -7px;
                bottom: 3px;
                // width: 0;
                // height: 0;
                // border-top:6px solid transparent;
                // border-left: 10px solid red;
                // border-bottom: 6px solid transparent;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 13px solid white;
              }
            
        }
        .img-contact-us{
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                color: #0DD221;
                bottom: 0;
                left: 50%;
                border-radius: 50%;
            }
            img{
                width: 57px;
                height: 57px;
                border-radius: 50%;
                object-fit: cover;
                // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
                
               
            }
        }
    }
}
.banner-top{
    .banner{
        position: relative;
        height: 445px;
        .column-banner{
            width: 707px;
            height: 445px;
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            mix-blend-mode: multiply;
            opacity: 0.6;
            position: absolute;
            z-index: 10;
        }
        img{
            width: 100%;
            // height: 445px;
            object-fit: cover;
            position: absolute;
            top: 0;
        }   
        .column-text{
            position:absolute;
            z-index: 20;
            color: white;
            // max-width: 1400px;
            // width: 80%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            height: 445px;
            // background-color: aquamarine;
            .column{
                // max-width: 1400px;
                width: 80%;
                // background-color: #000000;
                margin: auto;
                h1{
                    font-size: 100px;
                }
            }
        }
    }
}

